<!DOCTYPE html>
<html>
<head>
    <title>Rent-A-Car Management System</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Rent-A-Car Management System</h1>
    <nav>
        <ul>
            <li><a href="/customers">Customer Management</a></li>
            <li><a href="/rentals">Rental Management</a></li>
            <li><a href="/billing">Billing Management</a></li>
            <li><a href="/reservations">Reservation Management</a></li>
            <li><a href="/cars">Car Management</a></li>
            <li><a href="/car_availability">Car Availability</a></li>
            <li><a href="/branch">Branch</a></li>
        </ul>
    </nav>
</body>
</html>
